body {
  margin: 0;
  background-color: #f7f7f7;
}

header {
  width: 100%;
  height: 70px;
  color: #6f6f6f;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.header-title p {
  font-weight: bold;
  font-size: 30px;
}

.container {
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: #222;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container a {
  padding: 0, 40px;
}

.core {
  display: flex;
  justify-content: center;
}

.post {
  width: 65%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6f6f6f;
  margin-top: 20px;
}

.read-more {
  text-decoration: none;
  color: lightgrey;
  font-size: 20px;
  border: solid;
  border-color: lightgrey;
}

.fa-pen-fancy:before {
  color: lightgrey;
}

.fa-trash-alt:before {
  color: lightgrey;
}